.infomail-no-close .ui-dialog-titlebar-close {
    display: none;
}

form#infomail_plugin label {
    display: block;
    overflow: auto;
    margin: 5px;
}

form#infomail_plugin label span {
    width: 25%;
    text-align: right;
    display: block;
    float: left;
}

form#infomail_plugin label input, form#infomail_plugin label select {
    float: left;
    margin-left: 5px;
}

form#infomail_plugin label textarea.edit,
form#infomail_plugin label input.edit {
    width: 72%;
    display: block;
    float: left;
    margin-left: 5px;
}

form#infomail_plugin .buttons input {
    float: right;
    margin-left: 3px;
}
